<a href="https://colab.research.google.com/github/naham6/basicpythons/blob/main/2lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello")

Hello

In [ ]:
x=3
x="bd"
print(type(x))

<class 'str'>

In [ ]:
print("hello\nmahdi")
print('hel"l"o')

hello
mahdi
hel"l"o

In [ ]:
a = input("Enter the num ")
print(a)

Enter the num 5
5

In [ ]:
a = int(input("Enter the num1 "))
b = int(input("Enter the num2 "))

print(a+b)

Enter the num1 6
Enter the num2 9
15

In [ ]:
a,b=input("Enter 2 numbers").split()
print(a,b)

Enter 2 numbers5 6
5 6

In [ ]:
a,b=input("Enter 2 numbers").split()
print(a+b)
a=int(a)
b=int(b)
print(a+b)

Enter 2 numbers9 9
99
18

In [ ]:
a = input("Enter the number: ")
a = int(a)
if(a>=90):
  print("A")
elif(a>=80 and a<=89):
  print("B")
if(a>=70 and a<=79):
  print("C")
if(a>=60 and a<=69):
  print("D")
elif(a<60):
  print("F")

Enter the number: 6
F

In [ ]:
a = input("Enter the number: ")
a = int(a)
if(a>=90):
  print("A")
elif(a>=80):
  print("B")
elif(a>=70):
  print("C")
elif(a>=60):
  print("D")
elif(a<60):
  print("F")

Enter the number: 80
B

In [ ]:
a=3
while a<=50:
  a=a*3
print(a)

81

In [ ]:
for i in "Mahdi":
  print(i,end= " ")

M a h d i

In [ ]:
for i in "Mahdi":
  print(i)

M
a
h
d
i

In [ ]:
for i in "Billah":
  print(i,end= " ")

B i l l a h

In [ ]:
total=0
for number in [2,4, -4,22]:
  total=total+number

print(total)

24

In [ ]:
total=0
for number in range(10):
  total=total+number

print(total)

45

In [ ]:
total=0
for number in range(0,5):
  total=total+number

print(total)

10

In [ ]:
total=0
for number in range(0,5,2):
  total=total+number

print(total)

6

In [ ]:
x=int(input('How many pizzas do you want to buy '))


p1=int(input("How many chicken pizza do you want "))
p2=int(input("How many beef pizza do you want "))
p1price=500
p2price=700

c=input("Do you want extra cheeze? (Y/N) ")
if(c=='y' or c=='Y'):
  cheese=50
else:
  cheese=0
total=(p1*p1price)+(p2*p2price)+cheese
if(x>2):
  discount=total*0.03
  total=(p1*p1price)+(p2*p2price)+cheese-discount
else:
   total=(p1*p1price)+(p2*p2price)+cheese
print('total price = ',total)

How many pizzas do you want to buy 5
How many chicken pizza do you want 2
How many beef pizza do you want 3
Do you want extra cheeze? (Y/N) N
total price =  3007.0

In [ ]:
a=['firoz','anuar','tanim',3]
print(a[-2])
a.append('shakil')
print(a)
a[2]='nahid'
print(a)

tanim
['firoz', 'anuar', 'tanim', 3, 'shakil']
['firoz', 'anuar', 'nahid', 3, 'shakil']

In [ ]:
t=(1,'y')
print(t)
t=t+(3,4,5,'anuar')
print(t)
t=t,'na'
print(t)

(1, 'y')
(1, 'y', 3, 4, 5, 'anuar')
((1, 'y', 3, 4, 5, 'anuar'), 'na')

In [ ]:
lis=[1,2,'tysm']
a,b=lis[0],lis[1]
print(a,b)

1 2

In [ ]:
lis=[1,2,'oop','sss',66]
a,*b,c=lis
print(lis)
print(a)
print(b)
print(c)

[1, 2, 'oop', 'sss', 66]
1
[2, 'oop', 'sss']
66

In [ ]:
lis=[1,2,4,5]
print(lis[::-1])

[5, 4, 2, 1]

In [ ]:
lis=[1,2,4,5,2,9,23]
lis.sort()
print(lis)
lis.sort(reverse=True)
print(lis)
lis1=sorted(lis)
print(lis1)
a=reversed(lis)

[1, 2, 2, 4, 5, 9, 23]
[23, 9, 5, 4, 2, 2, 1]
[1, 2, 2, 4, 5, 9, 23]
<list_reverseiterator object at 0x7d97d6ea9c30>

In [ ]:
lis=[1,2,4,5,2,9,23]
print(5 in lis)
print(88 in lis)
print(9 not in lis)
print(lis.index(9))

True
False
False
5

In [ ]:
lis=[]
lis.append('1')
lis.append('12')
lis.append('13')
lis.append('14')
lis.append('15')
print(lis)
lis.pop()
print(lis)
print(lis.pop())
print(lis)

['1', '12', '13', '14', '15']
['1', '12', '13', '14']
14
['1', '12', '13']

In [ ]:
lis=[]
lis=[i*2 for i in range(1,5)]
print(lis)

[2, 4, 6, 8]

In [ ]:
lis=[]
lis=[i for i in range(1,10) if i%2==0]
print(lis)

[2, 4, 6, 8]

In [ ]:
a='billah'
b='mehedi'
print(a<b)
print('First letter of a is' , ord('b'))
print('First letter of b is' , ord('m'))
print(a>b)

True
First letter of a is 98
First letter of b is 109
False

In [ ]:
num=[1,2,39,4]
renum=[i for i in reversed(num)]
renum2=[i for i in sorted(num)]
print(renum)
print(renum2)

[4, 39, 2, 1]
[1, 2, 4, 39]

In [ ]:
i=1
j=1
for i in range(7):
  for j in range(i):
    print(j,end=' ')
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [ ]:
for i in range(10):
  print('*',end=' ')
for i in range(3):
  print('*')
for i in range(7):
  print('*',end=' ')
for i in range(5):
  print('*')

* * * * * * * * * * *
*
*
* * * * * * * *
*
*
*
*

In [ ]:
lis=[[4,5,6],[7,8,9]]
print(lis)
print(lis[0][2])

[[4, 5, 6], [7, 8, 9]]
6

In [ ]:
for r in lis:
  for item in r:
    print(item,end =' ')
  print()

4 5 6
7 8 9

In [ ]:
print(lis[0][2])

6

In [ ]:
for i,r in enumerate(lis):
  for j,item in enumerate(r):
    print(f'lis[{i}][{j}] = {item}' , end= ' ')
  print()

lis[0][0] = 4 lis[0][1] = 5 lis[0][2] = 6
lis[1][0] = 7 lis[1][1] = 8 lis[1][2] = 9

In [ ]:
num=[0,1,8,8,9]
for item in (x**2 for x in num if x%2!=0):
  print(item,end=' ')

1 81

In [ ]:
lis1=[]
print(lis1)

[]

In [ ]:
lis2=list()
print(lis2)

[]

In [ ]:
lis3=['Mehedi',10,66.5]
print(lis3)
print(lis3[0])

['Mehedi', 10, 66.5]
Mehedi

In [ ]:
mylist=[1,'two','3','four']
print(mylist)

[1, 'two', '3', 'four']

In [ ]:
#index with positive integers
print(mylist[1])
#index with negative integers
print(mylist[-2])

two
3

In [ ]:
print(mylist[:2])
print(mylist[:3])
print(mylist[1:])

[1, 'two']
[1, 'two', '3']
['two', '3', 'four']

In [ ]:
#printing elements with interval
print(mylist[::2])

[1, '3']

In [ ]:
lis=['O','O','P']
lis.append('2')
print(lis)

['O', 'O', 'P', '2']

In [ ]:
lis=[]
for i in range(6):
  lis.append(i)
print(lis)

[0, 1, 2, 3, 4, 5]

In [ ]:
lis=['Math','Sci','Eng']
lis1=['Business','ICT']
lis.extend(lis1)
print(lis)

['Math', 'Sci', 'Eng', 'Business', 'ICT']

In [ ]:
lis.insert(1,'CSE')
print(lis)

['Math', 'CSE', 'CSE', 'Sci', 'Eng']

In [ ]:
mylist=['Billah','Mehedi','Billah']
print(mylist.count('Billah'))

2

In [ ]:
print(mylist.index('Mehedi'))

1

In [ ]:
mylist1=[1,100,2,200,3,300]

In [ ]:
mylist1.sort()
print(mylist1)

[1, 2, 3, 100, 200, 300]

In [ ]:
mylist2=[1,3,5,7,9]
mylist2.reverse()
print(mylist2)

[9, 7, 5, 3, 1]

In [ ]:
mylist1=[1,100,2,200,3,300,4,400]

In [ ]:
mylist1.pop()#Deletes last item
mylist1.pop(5)#Deletes index 5
print(mylist1)

[1, 100, 2, 200, 3, 4]

In [ ]:
mylist1.remove(100)
print(mylist1)

[1, 2, 200, 3, 300, 4, 400]

In [ ]:
del mylist1[0]
print(mylist1)

[2, 200, 3, 300, 4, 400]

In [ ]:
del mylist1 #delete entire list
print(mylist1)

NameError: name 'mylist1' is not defined

In [ ]:
mylist=[1,2,3,10,20,30,0]
print(max(mylist))

30

In [ ]:
print(min(mylist))

0

In [ ]:
print(len(mylist))

7

In [ ]:
lis=sorted(mylist)
print(lis)

[0, 1, 2, 3, 10, 20, 30]

In [ ]:
print(sum(lis))

66